<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="/static/admin/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="/static/admin/css/style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    
    <!-- Toastr JS -->

</head>

<body>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <!-- Include your admin header template -->
    {{template "adminheader.html" .}}

    <div class="content-body">
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="topsection d-flex justify-content-between">
                                <h4 class="card-title">Data Table</h4>
                                <div class="bootstrap-modal">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#addCategoryModal">Add New Category</button>
                                    <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog"
                                        aria-labelledby="addCategoryModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="addCategoryModalLabel">Add New Category
                                                    </h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form method="post">
                                                        <div class="form-group">
                                                            <label for="categoryName" class="col-form-label">Category
                                                                Name:</label>
                                                            <p id="NameError"
                                                                class="text-danger rounded animate__animated animate__fadeIn"
                                                                style="display: none;"></p>

                                                            <input type="text" class="form-control" id="categoryName"
                                                                name="categoryName" required>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="status" class="col-form-label">Status:</label>
                                                            <select class="form-control" id="status" name="status"
                                                                required>
                                                                <option value="listed">Listnow</option>
                                                                <option value="unlisted">unlisted</option>
                                                            </select>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary"
                                                                onclick="addCategory()">Add New Category</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered zero-configuration">
                                    <thead>
                                        <tr>
                                            <th>Category id </th>
                                            <th>Category Name</th>
                                            <th>Status</th>
                                            <th>Added date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{range .Category}}
                                        <tr>
                                            <td>{{.ID}}</td>
                                            <td>{{.CategoryName}}</td>
                                            <td>
                                                {{if eq .Status "listed"}}
                                                <span class="label label-success">{{.Status}}</span>
                                                {{else}}
                                                <span class="label label-danger">{{.Status}}</span>
                                                {{end}}
                                            </td>
                                            <td>{{.CreatedAt.Format "2006-01-02 15:04:05"}}</td>
                                            <td>
                                                {{if eq .Status "listed"}}
                                                <!-- <a href="/admin/categories/update-status?id={{.ID}}"> -->
                                                <!-- <button type="button" class="btn mb-1 btn-outline-warning btn-xs">
                                                        <span class="btn-icon"><i class="fa fa-close"></i></span>block -->
                                                <!-- <span><a href="/admin/categories/update-status?id={{.ID}}" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil color-muted m-r-5"></i> </a></span> -->
                                                <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-close color-danger"></i></a>
                                                        
                                                 

                                                <a href="/admin/categories/update-status?id={{.ID}}"
                                                    data-toggle="tooltip" data-placement="top" title="Unlist"> -->
                                                    <button type="button" class="btn mb-1 btn-outline-warning btn-xs block-btn" data-id="{{.ID}}" data-toggle="tooltip" data-placement="top"
                                                    title="Unlist">
                                                        <span><i class="fa fa-close color-muted m-r-5"></i></span>

                                                    </button>
                                                <!-- </a> -->
                                                <!-- </a> -->
                                                {{else}}
                                                <!-- <span><a href="/admin/categories/update-status?id={{.ID}}" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash color-muted m-r-5"></i> </a></span> -->
                                                <button type="button" class="btn mb-1 btn-outline-success btn-xs block-btn" data-id="{{.ID}}" data-toggle="tooltip" data-placement="top"
                                                title="list">
                                                    <span><i class="fa fa-check color-muted m-r-5"></i></span>

                                                </button>
                                                <!-- <a href="/admin/categories/update-status?id={{.ID}}"
                                                    data-toggle="tooltip" data-placement="top" title="List">
                                                    <button type="button" class="btn mb-1 btn-outline-success btn-xs">
                                                        <span><i class="fa fa-check color-muted m-r-5"></i></span>

                                                    </button>
                                                </a> -->
                                                {{end}}

                                                <button type="button"
                                                    class="btn mb-1 btn-outline-danger btn-xs delete-btn"
                                                    data-id="{{.ID}}" data-toggle="tooltip" data-placement="top"
                                                    title="Delete">
                                                    <span class="btn-icon"><i class="fa fa-trash"></i></span>
                                                </button>



                                            </td>
                                        </tr>
                                        {{end}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include your footer -->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
            </p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="/static/admin/plugins/common/common.min.js"></script>
    <script src="/static/admin/js/custom.min.js"></script>
    <script src="/static/admin/js/settings.js"></script>
    <script src="/static/admin/js/gleek.js"></script>
    <script src="/static/admin/js/styleSwitcher.js"></script>
    <script src="/static/admin/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="/static/admin/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="/static/admin/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>

    <script>
        $(document).ready(function () {
    
            $('.delete-btn').on('click', function () {
                var customerId = $(this).data('id');

                console.log('Sending AJAX request with ID:', customerId);

                $.ajax({
                    url: '/admin/categories',
                    type: 'DELETE',
                    contentType: 'application/json',
                    data: JSON.stringify({ id: customerId }),
                    success: function (response) {
                                console.log('Success:', response);

                                // Show success toast
                                Swal.fire({
                                    icon: 'danger',
                                    title: 'Category  Removed!',
                                    text: 'The Category has been Deleted succesfully.',
                                    timer: 1000,
                                    timerProgressBar: true,
                                    showConfirmButton: false
                                });

                                // Optionally, you can redirect the user or update the UI
                                setTimeout(() => {
                                    window.location.reload();
                                }, 2000);
                            },
                            error: function (error) {
                                console.error('Error:', error);
                                Swal.fire({
                                    icon: 'warning',
                                    title: 'Action  failed!',
                                    text: 'First remove the products under this category',
                                    timer: 1500,
                                    timerProgressBar: true,
                                    showConfirmButton: false
                                });
                            }
                   
                });
            });
            $('.block-btn').on('click', function () {
                var customerId = $(this).data('id');

                console.log('Sending AJAX request with ID:', customerId);

                $.ajax({
                    url: '/admin/categories',
                    type: 'PATCH',
                    contentType: 'application/json',
                    data: JSON.stringify({ id: customerId }),
                    success: function (response) {
                                console.log('Success:', response);

                                // Show success toast
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Status Updated!',
                                    text: 'The Status has been updated succesfully.',
                                    timer: 2000,
                                    timerProgressBar: true,
                                    showConfirmButton: false
                                });

                                // Optionally, you can redirect the user or update the UI
                                setTimeout(() => {
                                    window.location.reload();
                                }, 2000);
                            },
                            error: function (error) {
                                console.error('Error:', error);
                            }
                   
                });
            });
        });


        async function addCategory() {
            // Get form data
            var categoryName = document.getElementById('categoryName').value;
            var status = document.getElementById('status').value;

            // Prepare form data for the POST request
            var formData = new FormData();
            formData.append('categoryName', categoryName);
            formData.append('status', status);
            try {
                // Make a POST request to your server using jQuery AJAX
                $.ajax({
                    url: '/admin/categories',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (responseData) {
                        // Check if the 'redirect' property exists in the response
                        if (responseData.redirect) {
                            // Redirect to the specified URL
                            setTimeout(()=>{
                                window.location.href = responseData.redirect;
                    
                            },1500)
                            toastr.success(
                                responseData.Errors?.NameError || 'Category Added', // Use responseData instead of success
                                'Success','reloading page',
                                {
                                    closeButton: true,
                                    progressBar: true,
                                    timeOut: 2000,
                                    
                                }
                            );
                        } else {
                            // Handle other aspects of the response if needed
                            console.log(responseData);
                        }
                    },
                    error: function (error) {
                        const NameError = document.getElementById('NameError');
                        NameError.textContent = error.responseJSON.Errors.NameError || '';
                        NameError.style.display = NameError.textContent ? 'block' : 'none';

                        // Show error message as a toast with a close button and fading bar
                        toastr.error(
                            error.responseJSON.Errors.NameError || 'An error occurred.',
                            'Error', // Title of the toastr notification
                            {
                                closeButton: true,  // Show a close button
                                progressBar: true,  // Show a fading progress bar
                                timeOut: 5000,  // Set the duration for the notification (in milliseconds)
                            }
                        );

                        console.error('Error:', error);
                    }
                });

            } catch (error) {
                // Handle other errors, e.g., syntax errors
                console.error('Error:', error);
            }
        }


    </script>

</body>




</html>