<!DOCTYPE html>
<h lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
        <!-- Favicon icon -->
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
        <!-- Add Bootstrap CSS CDN -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- Custom Stylesheet -->


        <link href="/static/admin/css/style.css" rel="stylesheet">
        <style>
            .modal-dialog {
                max-height: 90vh;
                /* Adjust the percentage to your preference */
                overflow-y: scroll;
            }
        </style>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



    </head>

    <body>




        <!-- Include your admin header template -->
        {{template "adminheader.html" .}}

        <div class="content-body">
            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="topsection d-flex justify-content-between mb-2">
                                    <h4 class="card-title">Data Table</h4>

                                </div>
                                <div class="d-flex flex-row align-items-center mb-2">
                                    <label for="entriesPerPage" class="form-label me-2">Show</label>
                                    <select class="form-select" id="entriesPerPage" onchange="updateEntries()"
                                        style="width: auto;">
                                        <option value="{{.Entries}}">{{.Entries}}</option>

                                        {{ if ne .Entries 5 }}<option value="5">5</option>{{ end }}
                                        {{ if ne .Entries 10 }}<option value="10">10</option>{{ end }}
                                        {{ if ne .Entries 20 }}<option value="20">20</option>{{ end }}

                                    </select>

                                    <label class="form-label ms-2">Entries:</label>
                                </div>


                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Username</th>
                                                <th>Address</th>
                                                <th>Order Date</th>
                                                <th>payment method</th>
                                                <th>Total Price</th>
                                               
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{range .Orders}}
                                            <tr data-id="{{.ID}}">
                                                <td>#{{.ID}}</td>
                                                <td>{{.User.Username}}</td>
                                                <td>{{.Address.Street}},{{.Address.City}},{{.Address.PostalCode}},{{.Address.State}}<br>{{.Address.Country}}
                                                </td>
                                                <td>{{.CreatedAt.Format "Monday,January 2006"}}</td>


                                                <td>{{.Payment}}</td>
                                                <td>${{.Total}}</td>
                                               

                                                <td>
                                                    <a href="/admin/manageorder?id={{.ID}}"
                                                        class="btn btn-info btn-xs">Details</a>
                                                </td>
                                                <td>
                                              
                                                </td>

                                            </tr>
                                            {{end}}
                                        </tbody>
                                    </table>
                                    <div class="pagination-container mt-4">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item disabled">
                                                <a class="page-link" href="#" tabindex="-1"
                                                    aria-disabled="true">Previous</a>
                                            </li>
                                            {{range .Pagenumber}}
                                            {{if eq . $.Currentpage}}
                                            <li class="page-item active" aria-current="page" value="{{.}}">
                                                <span class="page-link" id="pagenumber">{{.}} <span
                                                        class="sr-only">(current)</span></span>
                                            </li>
                                            {{else}}
                                            <li class="page-item " aria-current="page">
                                                <span class="page-link" id="pagenumber"
                                                    onclick="updatepage('{{.}}')">{{.}} <span
                                                        class="sr-only">(current)</span></span>
                                            </li>

                                            {{end}}

                                            {{end}}


                                            <li class="page-item">
                                                <a class="page-link" href="#">Next</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Include your footer -->
                <div class="footer">
                    <div class="copyright">
                        <p>Copyright &copy; Designed & Developed by <a
                                href="https://themeforest.net/user/quixlab">Quixlab</a> 2018
                        </p>
                    </div>
                </div>

                <!-- Add Bootstrap JS CDN -->
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

                <!-- Your existing scripts -->



                <script>
                    $('.cancel-btn').on('click', function () {
                        var orderID = $(this).data('id');
                        updateStatus(orderID, 'cancelled');
                    });

                    $('.delivered-btn').on('click', function () {
                        var orderID = $(this).data('id');
                        updateStatus(orderID, 'delivered');
                    });

                    // Function to update the status using AJAX
                    function updateStatus(orderID, newStatus) {
                        console.log('Sending AJAX request to update status with ID:', orderID, 'to', newStatus);

                        // Perform the AJAX request for status update
                        $.ajax({
                            url: '/admin/orders',
                            type: 'PATCH',
                            contentType: 'application/json',
                            data: JSON.stringify({ id: orderID, status: newStatus }),
                            success: function (response) {
                                console.log('Success:', response);

                                // Show success toast
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Status Updated!',
                                    text: 'The status has been updated successfully.',
                                    timer: 2000,
                                    timerProgressBar: true,
                                    showConfirmButton: false
                                });

                                // Optionally, you can redirect the user or update the UI
                                setTimeout(() => {
                                    window.location.reload();
                                }, 2000);
                            },
                            error: function (error) {
                                console.error('Error:', error);
                            }
                        });
                    }




                    function updateEntries() {
                        var limit = parseInt(document.getElementById("entriesPerPage").value);
                        var offset = parseInt(document.getElementById("pagenumber").innerHTML);
                        window.location.href = `/admin/orders?offset=${offset}&limit=${limit}`
                    }
                    function updatepage(pageNumber) {
                        var limit = parseInt(document.getElementById("entriesPerPage").value);
                        var offset = parseInt(pageNumber);
                        window.location.href = `/admin/orders?offset=${offset}&limit=${limit}`
                    }


                    $(document).ready(function () {
                        $('.variant-dropdown').each(function () {
                            updateVariantDetails(this);
                        });


                        // Attach a click event handler to the button with the delete-btn class


                    });


                </script>

                <script src="/static/admin/plugins/common/common.min.js"></script>
                <script src="/static/admin/js/custom.min.js"></script>
                <script src="/static/admin/js/settings.js"></script>
                <script src="/static/admin/js/gleek.js"></script>
                <script src="/static/admin/js/styleSwitcher.js"></script>


    </body>

    </html>