{{template "userheader.html"}}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-9">
                    <div class="shop-product-fillter">
                        <div class="totall-product">
                            <p> We found <strong class="text-brand">688</strong> items for you!</p>
                        </div>
                        <div class="sort-by-product-area">
                            <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Show:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">50</a></li>
                                        <li><a href="#">100</a></li>
                                        <li><a href="#">150</a></li>
                                        <li><a href="#">200</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">Featured</a></li>
                                        <li><a href="#">Price: Low to High</a></li>
                                        <li><a href="#">Price: High to Low</a></li>
                                        <li><a href="#">Release Date</a></li>
                                        <li><a href="#">Avg. Rating</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row product-container product-grid-3" id="product-container">
                        {{range .ProductVariants}}
                        <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/product?Variant={{.Slug}}">
                                            {{ if gt (len .Product.Images) 0 }}
                                            {{ with index .Product.Images 0 }}

                                            <img class="default-img" src="{{ .FilePath }}" alt="">
                                            {{ end }}
                                            {{ else }}
                                            {{ with index .Product.Images 1 }}

                                            <img class="default-img" src="{{ .FilePath }}" alt="">
                                            {{ end }}
                                            {{ end }}


                                        </a>
                                    </div>
                                    <!-- <div class="product-action-1">
                                        <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal"
                                            data-bs-target="#quickViewModal">
                                            <i class="fi-rs-search"></i></a>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                            href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i
                                                class="fi-rs-shuffle"></i></a>
                                    </div> -->
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="/product?Variant={{.Slug}}">{{.Product.Category.CategoryName}}</a>
                                    </div>
                                    <h2><a href="/product?Variant={{.Slug}}">{{.Product.ProductName}}</a></h2>
                                    <!-- <div class="rating-result" title="90%">
                                        <span>
                                            <span>90%</span>
                                        </span>
                                    </div> -->
                                    {{if ne .DiscountPrice 0}}
                                    <div class="product-price">
                                        <span>{{.DiscountPrice}}</span>
                                        <span class="old-price">₹{{.Price}}</span>
                                    </div>
                                    <!-- <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i
                                                class="fi-rs-shopping-bag-add"></i></a>
                                    </div> -->
                                    {{else}}
                                    <div class="product-price">
                                        <span>{{.Price}}</span>
                                       
                                    </div>
                                    {{end}}
                                </div>
                            </div>
                        </div>
                        {{end}}


                    </div>
                    <!--pagination-->
                    <!-- <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                                <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                                <li class="page-item"><a class="page-link" href="#">16</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fi-rs-angle-double-small-right"></i></a></li>
                            </ul>
                        </nav>
                    </div> -->
                </div>
                <div class="col-lg-3 primary-sidebar sticky-sidebar">
                    
                    <!-- Fillter By Price -->
                    <div class="sidebar-widget price_range range mb-30">
                        <div class="widget-header position-relative mb-20 pb-10">
                            <h5 class="widget-title mb-10">Fill by price</h5>
                            <div class="bt-1 border-color-1"></div>
                        </div>
                        <div class="price-filter">
                            <div class="price-filter-inner">
                                <div id="slider-range"></div>
                                <div class="price_slider_amount">
                                    <div class="label-input">
                                        <span>Range:</span><input type="text" id="amount" name="price"
                                            placeholder="Add Your Price" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-group">
                            <div class="list-group-item mb-10 mt-10">

                                <label class="fw-900">Category</label>
                                <div class="custome-checkbox">
                                    {{range .Category}}
                                        
                                        <input class="form-check-input" type="checkbox" name="category" id="categoryCheckbox{{.ID}}" value="{{.ID}}">
                                        <label class="form-check-label" for="categoryCheckbox{{.ID}}"><span>{{.CategoryName}}</span></label>
                                        <br>
                                        {{end}}
                                   
                                  
                                </div>
                                <label class="fw-900">Ram</label>
                                <div class="custome-checkbox">
                                    <input class="form-check-input" type="checkbox" name="ram" id="exampleCheckbox1" value="4GB">
                                    <label class="form-check-label" for="exampleCheckbox1"><span>4GB</span></label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" name="ram" id="exampleCheckbox2" value="8GB">
                                    <label class="form-check-label" for="exampleCheckbox2"><span>8GB</span></label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" name="ram" id="exampleCheckbox3" value="16GB">
                                    <label class="form-check-label" for="exampleCheckbox3"><span>16GB</span></label>
                                </div>
                                <label class="fw-900 mt-15">Storage</label>
                                <div class="custome-checkbox">
                                    <input class="form-check-input" type="checkbox" name="storage" id="exampleCheckbox11" value="256GB">
                                    <label class="form-check-label" for="exampleCheckbox11"><span>256GB</span></label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" name="storage" id="exampleCheckbox21" value="512GB">
                                    <label class="form-check-label" for="exampleCheckbox21"><span>512GB</span></label>
                                    <br>
                                    <input class="form-check-input" type="checkbox" name="storage" id="exampleCheckbox31" value="1TB">
                                    <label class="form-check-label" for="exampleCheckbox31"><span>1TB</span></label>
                                </div>
                            </div>
                        </div>
                        
                        <button id="filterBtn" class="btn btn-sm btn-default"><i class="fi-rs-filter mr-5"></i>Filter</button>

                    </div>
                    <!-- Product sidebar Widget -->
                   
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="main">
    <section class="newsletter p-30 text-white wow fadeIn animated">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7 mb-md-3 mb-lg-0">
                    <div class="row align-items-center">
                        <div class="col flex-horizontal-center">
                            <img class="icon-email" src="/static/evara/assets/imgs/theme/icons/icon-email.svg" alt="">
                            <h4 class="font-size-20 mb-0 ml-3">Sign up to Newsletter</h4>
                        </div>
                        <div class="col my-4 my-md-0 des">
                            <h5 class="font-size-15 ml-4 mb-0">...and receive <strong>$25 coupon for first
                                    shopping.</strong></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <!-- Subscribe Form -->
                    <form class="form-subcriber d-flex wow fadeIn animated">
                        <input type="email" class="form-control bg-white font-small" placeholder="Enter your email">
                        <button class="btn bg-dark text-white" type="submit">Subscribe</button>
                    </form>
                    <!-- End Subscribe Form -->
                </div>
            </div>
        </div>
    </section>
    <section class="section-padding footer-mid">
        <div class="container pt-15 pb-20">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widget-about font-md mb-md-5 mb-lg-0">
                        <div class="logo logo-width-1 wow fadeIn animated">
                            <a href="index.html"><img src="/static/evara/assets/imgs/theme/logo.svg" alt="logo"></a>
                        </div>
                        <h5 class="mt-20 mb-10 fw-600 text-grey-4 wow fadeIn animated">Contact</h5>
                        <p class="wow fadeIn animated">
                            <strong>Address: </strong>562 Wellington Road, Street 32, San Francisco
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Phone: </strong>+01 2222 365 /(+91) 01 2345 6789
                        </p>
                        <p class="wow fadeIn animated">
                            <strong>Hours: </strong>10:00 - 18:00, Mon - Sat
                        </p>
                        <h5 class="mb-10 mt-30 fw-600 text-grey-4 wow fadeIn animated">Follow Us</h5>
                        <div class="mobile-social-icon wow fadeIn animated mb-sm-5 mb-md-0">
                            <a href="#"><img src="/static/evara/assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                            <a href="#"><img src="/static/evara/assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                            <a href="#"><img src="/static/evara/assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                            <a href="#"><img src="/static/evara/assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                            <a href="#"><img src="/static/evara/assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3">
                    <h5 class="widget-title wow fadeIn animated">About</h5>
                    <ul class="footer-list wow fadeIn animated mb-sm-5 mb-md-0">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Support Center</a></li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-3">
                    <h5 class="widget-title wow fadeIn animated">My Account</h5>
                    <ul class="footer-list wow fadeIn animated">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">View Cart</a></li>
                        <li><a href="#">My Wishlist</a></li>
                        <li><a href="#">Track My Order</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Order</a></li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <h5 class="widget-title wow fadeIn animated">Install App</h5>
                    <div class="row">
                        <div class="col-md-8 col-lg-12">
                            <p class="wow fadeIn animated">From App Store or Google Play</p>
                            <div class="download-app wow fadeIn animated">
                                <a href="#" class="hover-up mb-sm-4 mb-lg-0"><img class="active"
                                        src="/static/evara/assets/imgs/theme/app-store.jpg" alt=""></a>
                                <a href="#" class="hover-up"><img src="/static/evara/assets/imgs/theme/google-play.jpg"
                                        alt=""></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-12 mt-md-3 mt-lg-0">
                            <p class="mb-20 wow fadeIn animated">Secured Payment Gateways</p>
                            <img class="wow fadeIn animated" src="/static/evara/assets/imgs/theme/payment-method.png"
                                alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container pb-20 wow fadeIn animated">
        <div class="row">
            <div class="col-12 mb-20">
                <div class="footer-bottom"></div>
            </div>
            <div class="col-lg-6">
                <p class="float-md-left font-sm text-muted mb-0">&copy; 2021, <strong class="text-brand">Evara</strong>
                    - HTML Ecommerce Template </p>
            </div>
            <div class="col-lg-6">
                <p class="text-lg-end text-start font-sm text-muted mb-0">
                    Designed by <a href="http://alithemes.com/" target="_blank">Alithemes.com</a>. All rights reserved
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="text-center">
                <h5 class="mb-5">Now Loading</h5>
                <div class="loader">
                    <div class="bar bar1"></div>
                    <div class="bar bar2"></div>
                    <div class="bar bar3"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
   
    $('#filterBtn').on('click', function() {
       
        $.ajax({
            url: '/shop-products',
            type: 'POST',
            dataType: 'json',
            data: {
                category:getSelectedFilters('category'),
                ram: getSelectedFilters('ram'),
                storage: getSelectedFilters('storage'),
                category: getSelectedFilters('category')
            },
            success: function(response) {
                
                displayProducts(response.ProductVariants);
                console.log(response.ProductVariants);
            },
            error: function(error) {
                console.error('Error fetching products:', error);
            }
        });
    });

  
    function getSelectedFilters(filterName) {
        var selectedFilters = $('input[name="' + filterName + '"]:checked').map(function() {
            return this.value;
        }).get();

        return selectedFilters.join(',');
    }

   
    function displayProducts(products) {
        var productContainer = $('#product-container');

       
        productContainer.empty();

        
        $.each(products, function(index, product) {
            console.log(product)
            
            var productHtml = `
            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                            <div class="product-cart-wrap mb-30">
                                <div class="product-img-action-wrap">
                                    <div class="product-img product-img-zoom">
                                        <a href="/product?Variant=${product.slug}">
                                           

                                            <img class="default-img" src="${product.Product.images[0].filepath}" alt="">


                                        </a>
                                    </div>
                                    <!-- <div class="product-action-1">
                                        <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal"
                                            data-bs-target="#quickViewModal">
                                            <i class="fi-rs-search"></i></a>
                                        <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                            href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                        <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html"><i
                                                class="fi-rs-shuffle"></i></a>
                                    </div> -->
                                    <div class="product-badges product-badges-position product-badges-mrg">
                                        <span class="hot">Hot</span>
                                    </div>
                                </div>
                                <div class="product-content-wrap">
                                    <div class="product-category">
                                        <a href="/product?Variant=${product.slug}">${product.Product.category.category}</a>
                                    </div>
                                    <h2><a href="/product?Variant=${product.slug}">${product.Product.productName}</a></h2>
                                    <!-- <div class="rating-result" title="90%">
                                        <span>
                                            <span>90%</span>
                                        </span>
                                    </div> -->
                                   
                                    <div class="product-price">
                                        <span>${product.discountprice}</span>
                                        <span class="old-price">₹${product.price}</span>
                                    </div>
                                    <!-- <div class="product-action-1 show">
                                        <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html"><i
                                                class="fi-rs-shopping-bag-add"></i></a>
                                    </div> -->
                                    
                                </div>
                            </div>
                        </div>
              
            `;
           
            productContainer.append(productHtml);
        });
    }
</script>




<script src="/static/evara/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/static/evara/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="/static/evara/assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="/static/evara/assets/js/vendor/bootstrap.bundle.min.js"></script>
<script src="/static/evara/assets/js/plugins/slick.js"></script>
<script src="/static/evara/assets/js/plugins/jquery.syotimer.min.js"></script>
<script src="/static/evara/assets/js/plugins/wow.js"></script>
<script src="/static/evara/assets/js/plugins/jquery-ui.js"></script>
<script src="/static/evara/assets/js/plugins/perfect-scrollbar.js"></script>
<script src="/static/evara/assets/js/plugins/magnific-popup.js"></script>
<script src="/static/evara/assets/js/plugins/select2.min.js"></script>
<script src="/static/evara/assets/js/plugins/waypoints.js"></script>
<script src="/static/evara/assets/js/plugins/counterup.js"></script>
<script src="/static/evara/assets/js/plugins/jquery.countdown.min.js"></script>
<script src="/static/evara/assets/js/plugins/images-loaded.js"></script>
<script src="/static/evara/assets/js/plugins/isotope.js"></script>
<script src="/static/evara/assets/js/plugins/scrollup.js"></script>
<script src="/static/evara/assets/js/plugins/jquery.vticker-min.js"></script>
<script src="/static/evara/assets/js/plugins/jquery.theia.sticky.js"></script>
<script src="/static/evara/assets/js/plugins/jquery.elevatezoom.js"></script>
<!-- Template  JS -->
<script src="/static/evara/assets/js/main.js"></script>
<script src="/static/evara/assets/js/shop.js"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-grid-left.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->

</html>